#app{
  h1,h2,h3,h4,h5,h6{
    font-family:'SCDream';
  }

  ul,ol{
    list-style:none;
  }

  .v-btn{
    letter-spacing: 0;
    font-family:'SCDream';
    font-weight:400;
  }

  dt{
    font-family:'SCDream'
  }
}